ul.job-list {
  list-style: none;
  width: 100%;
  padding-left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row; }
  ul.job-list li {
    width: 25%;
    background: #EBEBEB;
    height: 20px;
    padding: 20px;
    outline: 5px solid #FFF;
    transition: all 0.25s ease-in; }
    ul.job-list li:hover {
      background: #9797ff;
      color: #4545d2;
      cursor: pointer; }
    ul.job-list li.active {
      background: #5B5BFF;
      color: #fff; }

.selected-job h2 {
  animation: slide-from-right 0.5s ease-in; }

.selected-job h3 {
  animation: slide-from-right 0.8s ease-in; }

.selected-job p {
  animation: slide-from-bottom 0.5s ease-in; }

@keyframes slide-from-right {
  0% {
    transform: translateX(200px);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }

@keyframes slide-from-bottom {
  0% {
    transform: translateY(200px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
