ul.job-list {
    list-style: none;
    width: 100%;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    margin-top: 0.35rem;
    margin-bottom: 0.35rem;

    li{
        width: 25%;
        background: rgba(235, 235, 235, 0.5);
        height: 20px;
        padding: 20px;
        margin-right: 5px;
        transition: all 0.25s ease-in;

        &:hover{
            background: #b4b4f9;
            color: #4545d2;
            cursor: pointer;
        }

        &.selected{
            background: #5B5BFF;
            color: #FFF;
        }

        &:last-of-type{
            margin-right: 0;
        }
    }
}

.selected-job{
    opacity: 0;
    position: relative;
    padding: 10px;
    background: rgba(235, 235, 235, 0.75);

    p{
        font-size: 1rem;
        letter-spacing: 1px;
        line-height: 1.5;
    }
}

.job-wrapper{
    position: relative;
}

.job-details{
    position: absolute;
}

@keyframes slide-from-right{
    0%{
        transform: translateX(200px);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-from-bottom{
    0%{
        transform: translateY(200px);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}